.grid {
    display: grid;
}

.grid-cols-3 {
    grid-template-columns: repeat(3, minmax(0, 1fr));
}

.col-span-2 {
    grid-column: span 2 / span 2;
}

.bg-gray {
    background-color: gray;
}

.h-screen {
    height: 100vh;
}

.h-full {
    height: 100%;
}

.max-h-full	{
    max-height: 100%;
}

.m-0 {
    margin: 0px;
}

.flex {
    display: flex;
}

.flex-end {
    justify-content: flex-end;
}

.flex-col {
    flex-direction: column;
}

.flex-row {
    flex-direction: row;
}

.justify-center {
    justify-content: center;
}

.items-end {
    align-items: flex-end;
}

.items-center {
    align-items: center;
}

.items-between {
    align-items: center;
}

.pt-4 {
    padding-top: 1rem;
}

.pt-10 {
    padding-top: 2.5rem;
}

.pt-20 {
    padding-top: 5rem;
}

.px-4 {
    padding-left: 1rem;
    padding-right: 1rem;
}

.py-8 {
    padding-top: 2rem;
    padding-bottom: 2rem;
}
.rounded-full {
    border-radius: 9999px;
}

.no-underline {
    text-decoration-line: none;
}

.list-none {
    list-style-type: none;
}

.text-center {
    text-align: center;
}

.uppercase {
    text-transform: uppercase;
}

.bottom-0 {
    bottom: 0;
}

.fixed {
    position: fixed;
}

.w-4-12 {
    width: 33.333333%;
}

.italic {
    font-style: italic;
}